/* @import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Ceviche+One|Changa+One|Fira+Sans|Iceberg|Limelight|Montserrat|Plaster|Sedgwick+Ave|UnifrakturCook:700'); */
/* 
body {
    background: #291226;
    background-color: #291226;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%2378416b' fill-opacity='0.03'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    cursor: pointer;
} */

/* .looks {} */


.wrapper {
    z-index: 2;
    /* width: 100vh;
    */
    padding: 0 10%;
    height: 100vh;
    background: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' width='15' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%2378416b' fill-opacity='0.03'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    display: inline-block;
        bottom: 0px;
        left: 0;
        right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    /*transform: rotate(25deg);*/
}

.wrapper:before {
    content: "404";
    position: absolute;
    left: 150px;
    bottom: 300px;
    width: 100%;
    right: 0;
    z-index: 4;
    color: #c54736;
    font-family: 'UnifrakturCook', cursive;
    font-size: 200px;
    letter-spacing: -25px;
    transform: translate(-40%, 0) skew(10deg, -8deg) scaleY(.66667);
    -webkit-transform: translate(-40%, 0) skew(10deg, -8deg) scaleY(.66667);
    -moz-transform: translate(-40%, 0) skew(10deg, -8deg) scaleY(.66667);
    -ms-transform: translate(-40%, 0) skew(10deg, -8deg) scaleY(.66667);
    -o-transform: translate(-40%, 0) skew(10deg, -8deg) scaleY(.66667);
}



.opps:before {
        content: " الصفحة غير موجودة";
        position: absolute;
        z-index: 8;
        bottom: -473px;
        left: 35px;
        width: 80%;
        height: 100%;
        color: #c54736;
        font-size: 55px;
        /* font-family: 'Cairo', cursive; */
        opacity: 0.5;
        letter-spacing: 0px;
        text-align: center;
        transform: translate(0%, 10) skew(10deg, -12deg) scaleY(.6667);
        -webkit-transform: translate(0%, 10) skew(10deg, -12deg) scaleY(.6667);
        -moz-transform: translate(0%, 10) skew(10deg, -12deg) scaleY(.6667);
        -ms-transform: translate(0%, 10) skew(10deg, -12deg) scaleY(.6667);
        -o-transform: translate(0%, 10) skew(10deg, -12deg) scaleY(.6667);
}